<div style="display: flex; flex-direction: column; align-items: center;">
  <div>
    <form action="/" method="POST" style="display: flex; flex-direction: column; align-items: center;">
      <div style="display: inline-block; width: 800px; margin-top: 150px;">
        <input class="form-control" name="address" type="url" placeholder="輸入網址..." style="background: rgb(238, 233, 233);" value="" aria-label="readonly input example" required>
      </div>
      <button
        style="height:40px; width: 250px; border-color: cornflowerblue; background: white; color:cornflowerblue ; margin-top: 20px;"
        type="submit">Shorten
      </button>
    </form>
  </div>
</div>
